# Created by https://www.toptal.com/developers/gitignore/api/windows,go,linux

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
haraka

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

### Linux ###
*~

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
